<div class="row detail-tile" (click)="ShowMainContacts()">
    <div class=" col-2">
        <img style="float:left; margin-bottom: 20px;" src="{{siteDetails.images[1]}}"  class="img-contact rounded-circle">
    </div>
    <div class=" col-10">
        <div class="content-heading"><h3>{{siteDetails.title}}</h3></div>
        <p>{{siteDetails.address.street}}, {{siteDetails.address.city}}<br>
            {{siteDetails.address.state}}, {{siteDetails.address.country}}<br>
            Zipcode : {{siteDetails.address.zipCode}}</p>   
        <p><b>Main Contact:</b> {{siteDetails.contacts.main.firstName}}  {{siteDetails.contacts.main.lastName}}</p>
      </div>
</div>
