.container.main-page{
    margin-top: 4%;
}

input[type=text] {
    width: 130px;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd;
    margin-bottom: 12px; 

  }
  .btn-back .fas{
    color:#51b8f5;
    font-size:3em;
    float :right;
    
}

.btn.btn-arrow{
    float :right;
}

