.row{
   /* margin-left: 27%;
    margin-top:5%;*/
}
.container{
   /* margin-left: 27%;
    margin-top:5%;
    width:40%;
    box-sizing: border-box;
    border: 1px solid #000;*/
}
.card {
    
    float: none;
    width:38%; 
    margin-left:10%;
    margin-top:10%;
  

}
ul{
    margin-left:5%;
}

li{
    margin-bottom: 20px;
    float: left;
}

